body {
    background-color: salmon;
}
.square {
    visibility: hidden;
    width: 80px;
    height: 80px;
    background-color:  #ffdcfa;
    border: 3px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
#grid {
    display: grid;
    grid-template-columns: 83px 83px 83px 83px 83px;
    grid-template-rows: 83px 83px 83px 83px 83px;
    border: 3px solid black;
    width: fit-content;
    margin: 0 auto ;
    background-color: white;
}
#wonp{
    display: none;
}
#wondiv {
    display: none;
    width: fit-content;
    height: 100px;
    border: 5px solid darkslategrey;
    background-color: wheat;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}
#restart {
    margin: 0 auto;
    width: 100px;
    height: 80px;
    border: 5px solid darkslategrey;
    background-color: wheat;
    border-radius: 20px;
    margin-top: 5px;
}